body {
	width: 80%;
	margin: 0 auto;
	background: url(./images/Снимок.JPG);
	background-repeat: repeat;
}

.header {
	/*шапка сайта*/
	display: flex;
	box-sizing: border-box;
	max-width: 1300px;
	width: 100%;
	min-height: 80px;
	margin: 0 auto;
	padding-right: 16px;
	background: #213B7E;
	min-height: 80px;
	justify-content: space-between;
	align-items: center;
}

.img-logo {
	/*Логотип сайта*/
	display: flex;
	padding: 16px 0px 17px 16px;
}

.navigate {
	/*навигация по шапке*/
	display: flex;
	flex-wrap: wrap;
	align-self: stretch;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

.menu-link {
	/*само меню навигации шапки*/
	display: flex;
	align-self: stretch;
	padding: 0px;
	margin: 0px;
	align-items: center;
	padding: 0 18px;
	background-color: #213B7E;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.menu-link:hover {
	background-color: #FFFFFF;
	color: #213B7E;
	text-decoration: none;
}

.login {
	/*кнопка Логин*/
	display: flex;
	justify-content: center;
	width: 153px;
	height: 50px;
	align-items: center;
	background-color: #EA5D21;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	font-family: 'Roboto', sans-serif;
}

/*Popup login*/
.login-popup {
	display: none;
	position: absolute;
	box-sizing: border-box;
	max-width: 500px;
	min-height: 418px;
	width: 100%;
	padding: 10px 38px 0px 38px;
	background: #FFFFFF;
	background-color: #FFFFFF;
	border: 1px solid #213B7E;
	z-index: 2;
	transform: translateX(55%);
	transform: translateY(-83%);
	bottom: 0;
	left: 37%;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

.o-gorode {
	border: 0.1em solid black;
	width: 150px;
	height: 30px;
	text-align: center;
	font-size: 25px;
	background-color: aliceblue;
	border-radius: 1em;
	text-decoration: none;
}

.pic {
	/*обтекание картинки*/
	float: left;
	margin-right: 7px;
	justify-content: left;
}

.forma1 {
	/*авторизация на сайте*/
	border: 2px solid rgb(255, 1, 1);
	border-radius: 1em;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 5px;
	max-width: 39.4em;
	/* margin:0 auto; */
	margin-right: 15px;
	margin-bottom: 1.7em;
}

.H3form1 {
	/*заголовок авторизации на сайте*/
	text-align: left;
	padding-top: 0;
	padding-bottom: 0em;
	/* margin:0 auto; */
	margin-bottom: 0px;
}

h1 {
	font-size: 35px;
	color: #6604bb;
	text-align: center;
}

h2 {
	text-align: left;
	margin-bottom: -15px;
}

p {
	font-size: 22px;
	text-align: justify;
	text-indent: 20px;
}

ul {
	font-size: 19px;
	/*Размер шрифта в списке*/
}

.colortext {
	color: red;
	/* Красный цвет выделения списка */
}

ol {
	font-size: 19px;
	margin-top: -15px;
}

.colortext-ol {
	/*Синий цвет выделения перечня*/
	color: blue;
}

.table {
	/*селектор рамки внешней*/
	border: 0.125em solid rgb(9, 27, 229);
	border-collapse: collapse;
	margin: 0px;
	margin-top: -15px;
	margin-left: auto;
	margin-right: auto;
}

td {
	/*селектор рамки внутренней*/
	border: 1px solid rgb(10, 175, 235);
	border-collapse: collapse;
	text-align: center;
	padding: 0.313em;
}

th {
	/*селектор рамки внутренней*/
	border: 1px solid rgb(10, 175, 235);
	border-collapse: collapse;
	background-color: aquamarine;
}

.th {
	/*класс выравнивая текста внутри рамки как вариант, демонстрация возможностей*/
	text-align: left;
	padding: 0.313em;
}

q {
	font-family: Times, serif;
	font-style: italic;
	color: blue;
}

blockquote {
	font-style: italic;
	color: brown;
}

.tab-centr {
	/*заголовок таблицы климата*/
	text-align: center;
	margin-top: 55px;
}

.forma {
	/*форма подписки*/
	border: 2px solid rgb(255, 1, 1);
	border-radius: 1em;
	/* margin-top: 0; 
    margin-bottom: 20px; */
	padding: 5px;
	max-width: 23.125em;
}

.H3form {
	/*заголовок формы подписки*/
	text-align: left;
	padding-top: 0;
	padding-bottom: 0;
	max-width: 23.125em;
	margin: 0 auto;
	margin-left: 2.188em;
}

.button-submit {
	border-radius: 0em 1em 1em 0em;
}

/* css footer */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	max-width: 1300px;
	width: 100%;
	min-height: 60px;
	background: #213B7E;
	margin: 0 auto;
	padding: 0 16px;
	margin-top: 156px;
}

.foot-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.5);
}

.silka {
	color: rgba(255, 255, 255, 0.5);
}